/* Color Palette: I'll Stand By You
* source - http://www.colourlovers.com/palette/3449516/Ill_Stand_By_You
*/

$soulful-white : #FFFBF5;
$lilac-candy : #AF8092;
$yi-ding : #7F4D6B;
$pretty-senshi : #4E3A43;
$tears-in-your-eyes : #B1C4E0;

$o-white : rgba(255,251,245,0.8);
$o-tears : rgba($tears-in-your-eyes, 0.9);
