@import '_colors.scss';

#container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

#portrait {
  flex: 0 0 300px;
  height: 300px;
  width: 300px;
  margin: 30px;
  background: url('/assets/self.jpg') no-repeat center;
  background-size: 300px;
  border-radius: 2%;
}

#description {
  flex: 0 0 0;
  width: 800px;
}

#tools {
  flex: 0 0 80%;
}

#toolList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 20px;
  li {
    flex: 0 0 100px;
    text-align: center;
    background-color: $lilac-candy;
    color: $soulful-white;
    margin: 5px;
    padding: 10px;
    border-radius: 5%;
    &:hover {
      background-color: $yi-ding;
      transition: 0.5s;
    }
  }
}
@media screen and (max-width: 879px) {
  #description {
    flex: 0 0 0;
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  #container > div {
    margin: 20px 5px;
  }
  #description {
    flex: 0 0 0;
    width: 350px;
    text-align: center;
  }
  #tools {
    flex: 0 0 90%;
  }
}
