@import '_colors.scss';

#title {
  color: blue;
}

#container {
  margin: 0;
  padding-bottom: 6rem;
  font-family: 'Work Sans', sans-serif;
  position: relative;
  min-height: 100%;
}


ul {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
}

body {
  background: $soulful-white;
}

/*resets*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}