@import '_colors.scss';

#container {
  height: 100px;
  width: 100%;
  background-color: $pretty-senshi;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

#listUl {
  display: flex;
  justify-content: center;
  li {
    flex: 0 0 60px;
    font-size: 12px;
  }
}

.links {
  text-decoration: none;
  color: $soulful-white;
  &:hover {
    color: $lilac-candy;
    transition: 0.5s;
  }
}

ul #copyright {
  flex: 0 0 150px;
  color: $soulful-white;
}
