@import '_colors.scss';

#title {
  color: blue;
}
.description {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 800;
  line-height: 320px;
  text-align: center;
}

#spellcasters {
  height: 320px;
  width: 500px;
  background: url("/assets/spellcasters.png");
  background-size: 500px 320px;
  position:relative;
  &:hover .overlay {
    visibility: visible;
  }
}

#kanban {
  height: 320px;
  width: 500px;
  background: url("/assets/kanban.png");
  background-size: 500px 320px;
  position: relative;
  &:hover .overlay {
    visibility: visible;
  }
}

#disruptArmy {
  height: 320px;
  width: 500px;
  background: url("/assets/disrupt-army.png");
  background-size: 500px 320px;
  position: relative;
  &:hover .overlay {
    visibility: visible;
    transition: 0.5s;
  }
}

#projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px 0;
  li {
    flex: 0 0 500px;
    margin: 30px;
  }
}

.projectLinks {
  text-decoration: none;
  color: black;
  &:hover {
    color: $lilac-candy;
    transition: 0.5s;
  }
}

.githubLink {
  height: 32px;
  width: 32px;
  background: url('/assets/GitHub-Mark-32px.png') no-repeat center;
  background-color: $soulful-white;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.overlay {
  visibility: hidden;
  width: 500px;
  height: 320px;
  background: $o-white;
}

.mobileDescription, .mobileLink, .mobileGithubLink {
  display: none;
}

@media screen and (max-width: 550px) {
  #spellcasters, #kanban, #disruptArmy {
    flex: 0 0 340px;
    margin: 0 30px;
    height: 230px;
    width: 340px;
    background-size: 340px 230px;
  }
  #projects > li {
    flex: 0 0 340px;
  }
  .description {
    font-size: 15px;
    line-height: 230px;
  }
  .overlay {
    display: none;
  }
  .mobileDescription {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    p {
      flex: 0 0 100%;
      text-align: center;
      margin: 0 0 30px 0;
    }
  }
  .mobileLink {
    display: block;
    flex: 0 0 32px;
    height: 32px;
    border: 2px dotted $lilac-candy;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
    border-radius: 50%;
    line-height: 32px;
  }
  .mobileGithubLink {
    display: block;
    flex: 0 0 80px;
    height: 32px;
    width: 32px;
    background: url('/assets/GitHub-Mark-32px.png') no-repeat center;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    border: 2px dotted $lilac-candy;
    &:active {
      background-color: $yi-ding;
    }
  }
}